    // Colors
    $green_light: #F0EFE9;
    $btn_green: #50E3A4;

    // Fonts
    $lato: 'Lato', sans-serif;


    body {
    background: $green_light;  
    } 
    #main {
    margin-top: 20%;
    }

    .brand {
      width: 114px;
      height: 43px;
      
      a {
        font-family: $lato;
      }
    }

    #login-form {

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #707070;
          opacity: 0.7;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #707070;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #707070;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #707070;
        }

        input {
          font-family: $lato;
          width: 324px;
          font-weight: lighter;
          line-height: 2.5 !important;
          border: 0px solid red;
          border-radius: 10px;
          box-shadow: none !important;
          letter-spacing: 0.5px;
          padding-left: 21px;
          outline: 0;
          height: 58px;
          margin: 1px;
        }

        //CheckBox

        .ui-radio {
          display: none;
      }
        
      .ui-radio + label{
        position: relative;
        padding-left: 20px;
        margin-top: 15px;
        display: inline-block;
      }
      .ui-radio + label:before {
          background-color: #fff;
          border: 1px solid #707070;
          border-radius: 50px;
          display: inline-block;
          position: absolute;
          content: ' ';
          width: 13px;
          height: 13px;
          top:0px;
          left:0px;
      }
        
      .ui-radio:checked + label:after {
          content: ' ';
          width: 7px;
          height: 7px;
          border-radius: 50px;
          position: absolute;
          background: #707070;
          top: 3.0px;
          left: 3.0px;
          opacity: 0.7;

      }
        
      .ui-radio:checked + label:before {
          color: #99a1a7;
          border: 2px solid #707070;
          opacity: 0.7;

      }



      .round {
    position: relative;
    }

    .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    }

    .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
    }

    .round input[type="checkbox"] {
    visibility: hidden;
    }

    .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
    }

    .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
    }

    html, body {
    height: 100%;
    margin: 0;
    }

    body {
    background-color: #f1f2f3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .container {
    margin: 0 auto;
    }


      label, a {
          font-family: $lato;
          font-weight: 300;
          color: #707070;
          opacity: 0.7;
          font-size: 14px;
          padding-bottom: 5px;
          padding-left: 31%;
      }
      button.t_button {
        width: 134px;
        height: 50px;
        margin-left: 25%;
        margin-top: 10%;
        border-radius: 25px;
        background: $btn_green;
        color: white;
        -webkit-box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
    }

    }

    #by {   
    font-family: $lato;
      font-weight: 300;
      color: #707070;
      opacity: 0.7;
      font-size: 14px;
    }


    //List

    #in_login {
    label {
      padding-right: 10px;
      font-family: $lato;
      font-weight: 300;
      color: #707070;
      opacity: 0.7;
      font-size: 14px;
    }
    i {
      color: #707070;
      opacity: 0.7;
      margin-top: 2px;

    }
    top: 10px;
    right: 10px;

    }

    .panel {
    width: 324px;
    height: 91px;
    padding: 20px;
    color: #707070;
    font-size: 14px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 12px -8px rgba(0,0,0,0.75);
    input {
      border: none;
      outline: 0;
      color: #707070;
      opacity: 0.7;
      margin-top: 2px;
  }
    
    }

    .t_create_btn {
    background-color: #50E3A4;
    border-radius: 100px;
    font-size: 27px;
    width: 53px;
    height: 53px;
    color: white;
    font-weight: 100;
    margin-left: 38%;
    -webkit-box-shadow: -2px 4px 0px 13px #f0efe9;
      -moz-box-shadow: -2px 4px 0px 13px #f0efe9;
      box-shadow: 0px 0px 0px 7px #f0efe9;
    }
    .btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgb(114, 228, 164)

    }
    .items {
    width: 324px;
    min-height: 91px;
    margin-top:15px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 12px -8px rgba(0,0,0,0.75);

    }
    .table th, .table td { border:none;}

    table.table.table-hover {
    font-size: 12px;
    font-family: Lato;
    color: #999999;
    }

    .status_bar {
    width: 324px;
    min-height: 50px;
    margin-top: 15px;
    background: white;
    border-radius: 10px;
    font-size: 12px;
    font-family: Lato;
    color: #999999;
    padding-top: 5%;
    }

    //Chexbox 2

    .round {
      position: relative;
    }
    
    .round label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 24px;
      left: 0;
      position: absolute;
      top: 0;
      width: 24px;
    }
    
    .round label:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 5px;
      opacity: 0;
      position: absolute;
      top: 7px;
      transform: rotate(-45deg);
      width: 12px;
    }
    
    .round input[type="checkbox"] {
      visibility: hidden;
    }
    
    .round input[type="checkbox"]:checked + label {
      background-color: #66bb6a;
      border-color: #66bb6a;
    }
    
    .round input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
    

    //Checkbox_x

    .round_x {
      position: relative;
    }
    
    .round_x label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 24px;
      left: 0;
      position: absolute;
      top: 0;
      width: 24px;
    }
    
    .round_x label:after {
      border-top: none;
      border-right: none;
      font-family: $lato;
      font-size: 11px;
      content: "X";
      color:white;
      height: 0px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 4px;
      transform: rotate(-0deg);
      width: 12px;
    }
    
    .round_x input[type="checkbox"] {
      visibility: hidden;
    }
    
    .round_x input[type="checkbox"]:checked + label {
      background-color:#E35050;
      border-color: #E35050;
    }
    
    .round_x input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
    
    
    
    
    
  


    