<div class="container">
        <div id="main">
    <div class="d-flex justify-content-center">
        <div class="p-2 my-flex-item">
            <div class="brand">
                <a href="#">
                    <img src="/public/img/logo.svg" alt="logo">
                </a>
            </div>
        </div>
    </div>
    <div id="in_login" class="d-flex fixed-top justify-content-end">
            <label class="" for="user">username</label>
            <i id="user" class=" fa fa-user-circle" aria-hidden="true"></i>
            &nbsp;&nbsp;
            <a href="/logout">
                <label class="" for="user">Logout</label>
                <i id="user" class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-2 my-flex-item">
            <div class="panel">
                <form action="/list" method="POST">
                <p class="col text-center"><input class="col-10" name="task" type="text" placeholder="What needs to be done?" required><span class="float-right">+</span></p>
                <div class="dropdown-divider"></div>
                <input style="color:white;" type="submit" value="+" class="btn t_create_btn align-items-center">
                </form>
            </div>
            <div class="items">
                    <table class="table table-hover ">
                            <tbody>
                              

                            <%if(typeof localStorage!='undefined') {%>
                        
                        <%for (var i = 0; i < localStorage.length; i++) { %>

                        <tr>
                                <th><%=localStorage.key(i)%></th>
                                <td><%=i+1%></td>
                                <td>
                            <div class="round">
                                    <input type="checkbox" id="checkbox" />
                                    <label for="checkbox"></label>
                            </div>
                                    
                                </td>
                                <td>
                                <div class="round_x">
                                    <input type="checkbox" id="checkbox_x" />
                                    <label for="checkbox_x"></label>
                                </div>
                                      </td>
                              </tr>    
                        
                        <%}%>      
                        <%}%>
                            </tbody>
                          </table>

                </div>
                <div class="status_bar">
                        <div class="container">
                                <div class="row">
                                    <div class="col-5">
                                        <p>todo <span style="color:green">4</span> items left</p>
                                    </div>
                                    <div class="col-2">
                                            <p>All</p>
                                            
                                        </div>
                                        <div class="col-2">
                                                <p class="badge badge-success">Active</p>
                                            </div>
                                            <div class="col-2">
                                                    <p>Completed</p>
                                                </div>
                                </div>
                            </div>
                </div>


              
                  
                 
                
        </div>
    </div>

    <p id="by" class="fixed-bottom d-flex justify-content-center">Designed and built by @</p>
</div>
    </div>