<div class="container">
        <div id="main">
    <div class="d-flex justify-content-center">
        <div class="p-2 my-flex-item">
            <div class="brand">
                <a href="#">
                    <img src="/public/img/logo.svg" alt="logo">
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-2 my-flex-item">
            <form action="/login" id="login-form" method="POST">
                <div>
                    <input name="username" type="text" placeholder="&#xf007; username or email" style="font-family:Lato, FontAwesome;" required>
                </div>
                <div id="col">
                    <input name="password" type="password" placeholder="&#xf023;  password" style="font-family:Lato, FontAwesome; " required>
                </div>
                <div class="col">
                    <input type="checkbox" id="radio-1-1"  class="ui-radio" checked />
                    <label for="radio-1-1">remember me</label>
                    <a class="col" href="#">forgot password</a>
                </div>
                <button id="submit" type="submit" class="btn t_button">Login</button>
            </form>
        </div>
    </div>
    <%if(typeof result!='undefined') {%>
        <h2><%=result%></h2>
        <%}%>x
    <p id="by" class="fixed-bottom d-flex justify-content-center">Designed and built by @</p>
</div>
    </div>